# .gitignore

# PyQt file types
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.qrc
*.qmlc
*.qmlproject.user
*.qmlproject.user.*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.qtcreator